*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:#909;
}
a1{
    padding: 10px;
    margin:10px;
    justify-content: center;
}
h3 {
    color: #fff;
    margin: 10px;
}

input {

    padding: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;

}
.botao{
    width: 30px;
    height: 20px;
}